<nav class="navbar">
  <div class="left-navbar">
    <a href="/"><h1 class="left-navbar-header">Where in the world</h1></a>
  </div>

  <div class="right-navbar">
    <p>Dark Mode</p>
  </div>
</nav>
